@keyframes slideIn {
  from {
    right: -230px;
    opacity: 0;
  }
  to {
    right: 0px;
    opacity: 1;
  }
}
.sidebarContainer {
  min-width: 230px;
  padding: 100px 10px 0;
  background-color: #2c2c2c;
  position: relative;
  overflow-y: auto;
  /* overflow-y:scroll; */
  /* height: 60vh; */
}
.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #fff;
  /* overflow-y:  scroll; */
}
.menu-item {
  margin-bottom: 10px;
}
.menu-item-header {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.menu-item-icon {
  margin-left: 10px;
  font-size: 10px;
}
.submenu-item {
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
.down-icon {
  font-weight: lighter;
  color: #fff;
}
.up-icon {
  color: #fff;
  margin-left: 10px;
}
.submenu {
  list-style-type: none;
  border-left: 1px solid #3572ef;
  margin: 10px 20px;
}
.menu-item-header.active-item {
  background-color: #3572ef;
  color: #fff;
}
@media (max-width: 768px) {
  .active {
    display: block !important;
    width: 230px !important;
    animation: slideIn 0.5s ease-in-out;
    position: absolute;
    height: 100%;
    z-index: 1000;
  }
  .sidebarContainer {
    display: none;
    overflow: hidden;
    overflow-y: auto;
  }
}
