.settingContainer {
  background-color: #f2f4f5;
  width: 100%;
  padding: 80px 20px 20px 20px;
}
.settingForm,
.formContainer {
  background-color: #fff;
  padding: 0px 150px 50px 150px;
  border-radius: 5px;
  width: 100%;
  margin: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.changePassForm {
  background-color: #fff;
  padding: 20px 400px 50px 400px;
  border-radius: 5px;
  width: 100%;
  margin: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.saveInfo button {
  width: 25%;
}
.change {
  border: 1px solid #3572ef;
  cursor: pointer;
}
.changePasswordContainer,
.changePhoneNumberContainer {
  background-color: #f2f4f5;
  width: 100%;
  padding: 80px 20px 20px 20px;
}
.save button {
  width: 60%;
  margin-top: 40px;
}
.saveData button {
  width: 50%;
}
.changePassForm__input {
  outline: none;
  border-radius: 5px;
  width: 100%;
  border: 1px solid lightgray;
  height: 40px;
}
.phoneNumber {
  width: 60%;
  margin-right: 170px;
}
.verifyOtpContainer {
  position: relative;
  background-image: url("/public/assets/image/gymm 2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: center;
}
.verifyOtpContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(53, 114, 239, 0.1);
  z-index: 1;
}
.verifyOtpContainerForm{
  margin-top: 150px;
  background-color: #fff;
  z-index: 2;
  height: 45%;
  padding: 20px;
  border-radius: 5px;
}