.settingContainer {
  background-color: #f2f4f5;
  width: 100%;
  padding: 80px 20px 20px 20px;
}
.settingForm ,.formContainer{
  background-color: #fff;
  padding: 0px 150px 50px 150px;
  border-radius: 5px;
  width: 100%;
  margin: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.changePassForm{
  background-color: #fff;
  padding: 0px 150px 50px 150px;
  border-radius: 5px;
  width: 100%;
  margin: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.saveInfo button{
  width: 25%;
}
.change{
  border: 1px solid #3572EF;
  cursor: pointer;
}
.changePasswordContainer , .changePhoneNumberContainer{
  background-color: #f2f4f5;
  width: 100%;
  padding: 80px 20px 20px 20px;
}
.save button{
  width: 60%;
  margin-top: 40px;
}