.addMemberContainer {
  width: 100%;
  min-height: 100vh;
  background-image: url('/public/assets/image/bg3.jpg');
}
.addForm {
  background-color: #373636;
  padding: 0px 150px 50px 150px;
  border-radius: 10px;
  width: 100%;
  margin: auto;
  box-shadow:none;
}
.addForm label {
  color: rgb(98, 98, 98);
}
.note {
  height: 144px !important;
}
.error-message {
  color: rgb(241, 68, 68);
}
.addMemberContainer {
  width: 100%;
}
.addForm label {
  color: rgb(98, 98, 98);
}
.addMemberContainer {
  background-color: #f2f4f5;
  width: 100%;
  padding: 80px 20px 20px 20px;
}
.note {
  height: 144px !important;
}
.error-message {
  color: rgb(241, 68, 68);
}
.countryCode {
  position: absolute;
  bottom: 0;
  left: 30px;
  width: 50px;
  height: 52px;
}
.react-tel-input {
  width: 50px;
  height: 52px;
  border-right: 1px solid lightgray;
  padding-right: 5px;
}
.react-tel-input .form-control {
  width: 70px !important;
  height: 52px !important;
  padding-left: 5px !important;
  border: none !important;
  background-color: transparent !important;
}

.react-tel-input .country-list {
  left: -40px;
  top: 42px;
}
.react-tel-input .selected-flag {
  width: 28px !important;
}
.react-tel-input .flag-dropdown {
  border: none !important;
}
.react-tel-input .selected-flag .arrow {
  display: none;
}
.react-tel-input .flag-dropdown.open,
.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus,
.react-tel-input .flag-dropdown.open .selected-flag {
  background: transparent !important;
}
.form-control:focus {
  box-shadow: none !important;
}
