.AddNewSubscriptionContainer {
  background-color: #f2f4f5;
  padding: 80px 0px 0px 0px;
  width: 100%;
  min-height: 100vh;
}
.addSubFormContainer {
  background-color: #fff;
  border-radius: 10px;
  width: 97%;
  margin: auto;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.addSubForm {
  width: 70%;
  margin: auto;
}
.add-note {
  height: 80px;
}
.addmemberBtn button {
  width: 25%;
}
