.trainer {
  margin-bottom: 100px;
  background-color: white;
  padding: 30px;
  border-radius: 25px;
  font-size: 16px;
}
.scheduleRow {
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
}
.scheduleRow td,
th {
  padding: 10px;
}
.scheduleRow {
  border-bottom: 1px solid lightgray;
}
.scheduleRow td:last-child {
  cursor: pointer;
}
.scheduleRow td:last-child span {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: black;
  margin: 0 auto 2px;
}
.subMenu {
  display: none;
}
.tableColumn:hover .subMenu {
  display: block;
  position: absolute;
  background-color: white;
  width: 190px;
  height: fit-content;
  z-index: 1000;
  left: 0;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #f0f0f0;
}
.subMenu > div:hover {
  background-color: #f2f4f5;
  border-radius: 20px;
}
.GroupMemberMembership {
  background-color: #f2f4f5;
  width: 100%;
  padding: 90px 20px 20px 20px;
  min-height: 100vh;
}
