.tableRow {
  border-bottom: 1px solid lightgray;
}
.tableRow td:last-child {
  cursor: pointer;
}
.tableRow td:last-child span {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: black;
  margin: 0 auto 2px;
}
.subMenu {
  display: none;
  font-size: 16px;
  color: #4f4f4f;
}
/* .tableColumn:hover .subMenu {

} */
.subMenu > div:hover {
  background-color: #f2f4f5;
  border-radius: 10px;
}
