.trainer {
  margin-bottom: 100px;
  background-color: white;
  padding: 50px 20px;
  border-radius: 25px;
  margin-top: 30px;
  font-size: 16px;
}
.scheduleRow {
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
}
.scheduleRow td {
  padding: 10px;
}
