.trainer {
  margin-bottom: 100px;
  background-color: white;
  padding: 50px 20px;
  border-radius: 25px;
  margin-top: 30px;
  font-size: 16px;
}
.scheduleRow {
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
}
.scheduleRow td {
  padding: 10px;
}
.scheduleRow {
  border-bottom: 1px solid lightgray;
}
.scheduleRow td:last-child {
  cursor: pointer;
}
.scheduleRow td:last-child span {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: black;
  margin: 0 auto 2px;
}
