@keyframes showUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.tableRow {
  border-bottom: 1px solid lightgray;
}
.tableRow td:last-child {
  cursor: pointer;
}
.tableRow td:last-child span {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto 2px;
}
.subMenu {
  position: absolute;
  background-color: #373636;
  color: white;
  width: 220px;
  height: fit-content;
  z-index: 1000;
  left: 0;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #f0f0f0;
  font-size: 18px;
  animation: showUp 0.3s forwards;
}
.subMenu > div:hover {
  background-color: #f2f4f5;
  color: #373636;
  border-radius: 10px;
}
