.allSubscriptionContainer {
  background-image: url('/public/assets/image/bg3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0px 0px 0px;
  width: 100%;
  min-height: 100vh;
}
.active-subscription {
  background-color: white !important;
}
.inactive-subscription {
  background-color: #f0f0f0 !important;
}
.tableContainer th,
.tableContainer td {
  background-color: transparent;
}
.confirmDeactive button {
  background-color: #ff6666;
  color: #fff;
  font-weight: bolder;
}
.confirmAeactive {
  background-color: #3572ef;
  color: #fff;
  border-radius: 10px;
  font-weight: bolder;
}
.activateButton button {
  background-color: transparent;
  color: #000;
  font-size: 16px;
}
.filter:hover {
  background-color: #f4f4f4;
  cursor: pointer;
}
.noResults{
  background-color: rgba(79, 79, 79,0.9);
}