.confirmedStatus,
.notConfirmedStatus,
.closeToFiniteStatus,
.freezedStatus {
  background-color: #dbf7e9;
  color: #4ad991;
  font-weight: bold;
  border-radius: 5px;
  padding: 4px;
  width: 80%;
  text-align: center;
  max-width: 200px;
  min-width: 80px;
}
.confirmedStatus {
  background-color: #dbf7e9;
  color: #4ad991;
}
.notConfirmedStatus {
  background-color: #ffe0e0;
  color: #ff6666;
}
.closeToFiniteStatus {
  background-color: rgba(237, 199, 10, 0.2);
  color: #edc70a;
}
.freezedStatus {
  background-color: rgba(0, 106, 234, 0.2);
  color: #006aea;
}
