.tableContainer {
  direction: rtl;
  padding: 10px;
  border-radius: 25px;
  max-height: 80vh;
  overflow-y: auto;
  background-color: white;
}
.tableContainer thead th:first-child {
  width: 50px;
}
.tableContainer thead th:last-child {
  width: 100px;
}
