.supportContainer {
  background-color: #f2f4f5;
  width: 100%;
  padding: 80px 20px 20px 20px;
  min-height: 100vh;
}
.dropmenu {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
  list-style-type: none;
  padding: 5px;
  position: absolute;
  right: 81.5%;
  width: 150px;
}
.dropmenu ul li {
  padding: 8px;
}
.delete-support {
  padding: 5px;
  cursor: pointer;
}
.delete-support:hover {
  background-color: #f2f4f5;
  border-radius: 5px;
}
.tr {
  cursor: pointer;
}
.tr:hover {
  background-color: #f2f4f5;
}
.supportDetailContainer {
  background-color: #f2f4f5;
  width: 100%;
  padding: 80px 20px 20px 20px;
}
.supportDetailContainer__item {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.cancel-delete button {
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #000;
  font-weight: bolder;
  font-size: 16px;
}
.delete-button button {
  background-color: #ff6666;
  color: #fff;
  font-weight: bolder;
  border-radius: 5px;
  font-size: 16px;
}
