.tableContainer {
  width: 98%;
  background-color: #373636;
  direction: rtl;
  padding: 10px;
  border-radius: 10px;
  min-height: 500px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.tableContainer thead th:first-child {
  width: 50px;
}
.tableContainer thead th:last-child {
  width: 100px;
}
.tableContainer td,
th {
  color: #fff;
}
.pageBtn {
  width: 350px;
  margin: auto;
  margin-top: 30px;
}
.groupsContainer {
  background-image: url("/public/assets/image/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 90px 20px 20px 20px;
  min-height: 100vh;
  overflow: auto;
}
.filter:hover {
  background-color: #f4f4f4;
  cursor: pointer;
}
