.addMeasurmentsContainer {
  padding: 20px 0px 0px 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  background-color: #373636;
  overflow: hidden;
  min-height: 100vh;
}
.formContainer {
  width: 100%;
  margin: auto;
}
.title {
  font-size: 18px;
  font-weight: bold;
  color: black;
  position: relative;
}
.title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -10px;
  right: 0;
  background-color: #f4f4f4;
}
.AddMeasurement button {
  width: 25%;
}
.AddMeasurementFormContainer {
  background-image: url('/public/assets/image/bg3.jpg');
  width: 100%;
  padding: 90px 20px 20px 20px;
}
.membersSearch {
  position: relative;
}
.membersDropdown {
  position: absolute;
  background-color: white;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 6px 3px #0001;
  top: 90px;
  max-height: 300px;
  overflow-y: auto;
}
.membersDropdown div {
  padding: 5px;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
}
