.groupForm {
  background-color: #fff;
  border-radius: 5px;
}
.addgroupContainer {
  width: 98%;
  margin: auto;
}
.addgroupBtn button {
  width: 20%;
}
.groupFormContainer {
  background-color: #f2f4f5;
  width: 100%;
  /* padding: 0px 20px 20px 20px; */
}
@media (max-width: 768px) {
  .groupForm {
    width: 90%;
  }
}
