.groupForm {
  background-color: #373636;
  border-radius: 5px;
  max-width: 98%;
  margin: auto;
}
.addgroupContainer {
  width: 100%;
  margin: auto;
  min-height: 100vh;
}
.addgroupBtn button {
  width: 20%;
}
.groupFormContainer {
  background-color: #f2f4f5;
  width: 100%;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .groupForm {
    width: 90%;
  }
}
