.addNewSubscriptionsContainer__item {
  width: 90%;
  margin: auto;
  /* min-height: 100vh; */
}
.AddNewSubscriptionForm label {
  color: #666666;
  font-size: 15px;
}
.addBtn button {
  width: 25%;
}
.addNewSubscriptionsContainer__item2 p {
  color: #666666;
}
.addNewSubscriptionsContainer {
  padding: 30px 0px 0px 0px;
  width: 100%;
  /* background-color: #f2f4f5; */
  background-image: url("/public/assets/image/bg3.jpg");
  padding-bottom: 30px;
  overflow-y: auto;
}
.formContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: auto;
}
.form1,
.form2 {
  width: 70%;
}
.notes {
  height: 120px !important;
}
.AddForm {
  width: 96%;
  margin: auto;
  background-color: #373636;
  border-radius: 5px;
  padding: 30px;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}
.Notes {
  height: 185px !important;
}
