.addNewSubscriptionsContainer__item1{
  background-color: #fff;
  padding: 50px;
  width: 60%;
  border-radius: 10px;
  border: 1px solid lightgray;
}
.AddNewSubscriptionForm label {
  color: #666666;
  font-size: 15px;
}
.addBtn button {
  width: 50%;
}
.addNewSubscriptionsContainer__item2 p {
  color: #666666;
}
.addNewSubscriptionsContainer {
  padding: 30px 0px 0px 0px;
  width: 100%;
  background-color: #f2f4f5;
}
.formContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: auto;
}