.forgotPasswordContainer {
  background-image: url("/public/assets/image/login bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
}
.forgotPasswordFormContainer {
  background-color: #fff;
  width: 30%;
  /* height: 70%; */
  padding: 30px;
  border-radius: 5px;
  margin: auto;
}
.forgotPasswordForm {
  width: 90%;
  margin: auto;
}
.forgotPasswordForm__input {
  border-radius: 5px;
  outline: none;
  border: 1px solid lightgray;
  height: 54px;
  width: 100%;
}
.sendCodeBtn button {
  width: 100%;
  height: 54px;
}#modal-width{
  width: 450px;
}
.error-message{
  font-size: 14px;
}