.allMembereContainer {
  background-color: #F2F4F5;
  width: 100%;
  padding: 80px 20px 20px 20px;
}
.search-input {
  width: 50%;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  height: 40px;
}
.search-btn button {
  width: 40%;
  height: 40px;
}
.addmember-btn button {
  height: 40px;
  width: 40%;
}
.icon {
  color: #3572ef;
}
/* Pagination Controls  */
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.previousBtn {
  border: none;
  padding: 10px;
  width:60px;
  background-color: #3572ef;
  border-radius: 5px;
  cursor: pointer;
}
.nextBtn {
  border: none;
  padding: 10px;
  width:60px;
  background-color: #3572ef;
  border-radius: 5px;
  cursor: pointer;
}
.previousBtn:hover , .nextBtn:hover{
  background-color: rgba(53, 114, 239,0.7);
}
.memberOptions{
  width: 300px;
}
.memberOptions ul{
  list-style: none;
}
.tableContainer{
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}
.dropdown {
  list-style-type: none;
  padding: 8px;
  text-align: right;
  margin: 0;
  left: 6%;
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 200px;
}
.dropdown li {
  padding: 8px;
  color: #4F4F4F;
  cursor: pointer;
  font-weight: lighter;
  font-size: 12px;
}
.dropdown li:hover {
  background-color: #f0f0f0;
}
.dropdown__icon{
  font-size: 4x;
  margin-left: 10px;
}