.createNewPasswordContainer {
  background-image: url("/public/assets/image/login bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
}
.createNewPasswordFormContainer {
  background-color: #fff;
  width: 30%;
  border-radius: 5px;
  margin: auto;
  padding: 30px;
}
.createNewPasswordForm__input{
    outline: none;
    border-radius: 5px;
    width: 100%;
    border: 1px solid lightgray;
    height: 40px;
}