.createNewPasswordContainer {
  position: relative;
  background-image: url("/public/assets/image/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: start;
}
.createNewPasswordContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(53, 114, 239, 0.1);
  z-index: 1;
}
.createNewPasswordFormContainer {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 30px;
  position: relative;
  z-index: 2;
  margin-right: 50px;
  min-width: 300px;
  width: 30%;
}
.createNewPasswordForm__input {
  outline: none;
  border-radius: 5px;
  width: 100%;
  border: 1px solid lightgray;
  height: 40px;
}
