.allSubscriptionContainer {
  background-image: url('/public/assets/image/bg3.jpg');
  padding: 50px 0px 0px 0px;
  width: 100%;
  min-height: 100vh;
}
.table {
  width: 100%;
  margin: auto;
}
.tableContainer {
  width: 98%;
  margin: auto;
}
.table {
  border-spacing: 10px 0px 0px 0px;
}
.table tr {
  height: 30px;
}
.delete-btn,
.canel-delete {
  border-radius: 5px;
}
.delete-btn {
  background-color: #ff6666;
  color: #fff;
  font-weight: bolder;
}
