.contentContainer {
  background-color: #F2F4F5;
  width: 100%;
  /* margin: auto; */
  padding: 90px 20px 20px 20px;
}
.searchInput {
  background-color: #e2e2e2;
  border: none;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  height: 40px;
}
.main-icon{
  background-color: #fff;
}
.form button{
  height: 40px;
}
.buttons button{
  height: 40px;
}